{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5">
    <h2 class="mb-4">Category List</h2>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Sr.No</th>
                <th>Category ID</th>
                <th>Category Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for c in categories %}
            <td>{{ c.0 }}</td>
                <td>{{ c.1 }}</td> <!-- category_id -->
                <td>{{ c.2 }}</td> <!-- category_name -->
                <td>{{ c.3 }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2" class="text-center">No categories found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
